<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- >  他媽的主頁面 也是程式進入點  點擊以繼續的頁面   </!-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">   <!--> 這東西可以禁止旋轉<!-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-->MainActivity的下頁  將來會做通往偉大的航道之類的        呃當我沒說被我廢掉了 </!-->
        <activity android:name="com.example.user.myapplication.Activity_switch"
            android:label="選擇頁面位置"> </activity>

        <!--> 就變成了主介面了 </!-->
        <activity android:name="com.example.user.myapplication.Linking"
            android:screenOrientation="portrait"
            android:label="吃吃喝喝"> </activity>

        <!--> list的單項 </!-->
        <activity android:name="com.example.user.myapplication.ListRow_Detail"
            android:screenOrientation="portrait"
            android:label="詳細資訊"> </activity>
        <activity android:name=".CustomTitleBar"
            android:theme="@style/customTheme">  </activity>
    </application>

</manifest>
